.category-name-cont{
    background-color: aliceblue;
    min-height: 50px;
    color: black;
    font-size: 32px;
}

.title{
    padding-top: 15px;
}

.addIcon{
    position: absolute;
    width: 20px;
}

.card{
    margin: 20px;
}