.category-name-cont{
    background-color: aliceblue;
    min-height: 50px;
    color: black;
    font-size: 32px;
}

.title{
    padding-top: 15px;
}

.addIcon{
    position: absolute;
    margin-left: 30%;
    width: 20px;
}

/* .parent{
    width: 100%;
    height: 100%;
    position: relative;
}

.items{
    min-width: 375px;
    height: 300px;
    overflow-y: auto;
    margin: 30px;
}
.items::-webkit-scrollbar-track
{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.items::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

.items::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-image: -webkit-gradient(linear,
                                       left bottom,
                                       left top,
                                       color-stop(0.44, rgb(122,153,217, 0.5)),
                                       color-stop(0.72, rgb(73,125,189, 0.5)),
                                       color-stop(0.86, rgb(28,58,148, 0.5)));
} */